header{
    background: linear-gradient(45deg, #007bff, #a8b8c9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en el encabezado */
   
    h1{
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px black;
    }
}

