a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}
a:hover {
    color: #000000;
}
/* Transiciones en botones */
button, .btn {
    transition: background-color 0.2s ease, transform 0.2s ease;
}
button:hover, .btn:hover {
    transform: scale(1.30); /* Ampliar ligeramente el botón al pasar el ratón */
}
/* Responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
.Encabezado{
    color: black;
    display: flex;
}
.logo1{
  margin: 15px;
    display: flex;
}
.h1-titulo{
    text-align: center;
    color: #013d7e;
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#contact {
    padding: 2rem;
    background-color: #f3f3f3;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .contact-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  input, textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button {
    padding: 0.8rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .contact-container h2 {
      font-size: 1.5rem;
    }
  
    input, textarea {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }